//Font
$font-family: 'Open Sans', sans-serif;

//Grid
$grid-columns: 12;

$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 1024px
);

//Color
$bg-color: #f7f7f9;
$font-color: #555;
